.wrapper {
    --primary: #ff0000;
    --white: #fff;
    --bg-transparent: transparent;
    --bg-black: #0f0f0f;
    --bg-black-hover: rgba(255, 255, 255, 0.1);
    --bg-gray: #181818;
    --bg-gray-hover: #303030;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 12px;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    background-color: var(--bg-transparent);
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }
}

// Button types
.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background: #252525;

    &:hover {
        background: #201416;
    }
}

.circle {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
        background-color: var(--bg-black-hover);
    }
}

.bg-gray {
    background-color: var(--bg-gray);

    &:hover {
        background-color: var(--bg-gray-hover);
    }
}

.rounded {
    color: var(--white);
    background-color: rgba(37, 37, 37, 1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 999px;

    &:hover {
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(46, 46, 46, 1);
    }
}

.text {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--white);
    border-radius: 2px;

    &:hover {
        background-color: #1b1b1b;
    }
}

.title {
    display: inline-flex;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    width: 24px;
    text-align: center;
}

// Button disabled
.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
