.wrapper {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.body {
    height: 1500px;
}
